/*
* Template layout that all views will use
*/
::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }
/* Main Body */
body {
	background-color: #6A2D13;
	background-image: url("../images/rust.png");
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}
/* All links with <a> tag*/
a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
	font-size: 20px;
}
/* Main header look*/
h1 {
	color: #FAE9D5;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}
/* Code */
code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #FAE9D5;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}
/* Body Div */
#body {
	margin: 0 15px 0 15px;
}

/* Footer */
p.footer {
	text-align: right;
	font-size: 11px;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}
/* Info Area */
#container {
	background-color: #0F0F0F;
	margin: 10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
	color: #FAE9D5;
}
/* Menu bar */
#links{
	background-color: #0F0F0F;
	margin: 10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
	height: 125px;
	width: 700px;
	font-family: verdana;
}

/* Dropdown */
.dropdown-menu{
	text-align:right;
	right:0px;
}
